<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
    <body class="home">
        <%- include('./partials/nav.ejs') %>
            <h1>Лабораторная работа по базам данных.</h1>
    </body>
</html>